*{
    margin: 0;
    padding:0;
     box-sizing: border-box; 
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;


}

.container{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
    background-size: cover;
}

.foreground{
    transform:translateZ(-20px) scale(3);
    
}

.background{
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
z-index: -1;

}
.foreground{
    position: absolute;

object-fit:cover ;
top: 50%;


z-index: -1;
}

h1{

    position: absolute;
    top: 3rem;
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0, 3);;
   


}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg1{
    background-image: url(biking.jpg);

}
.bg2{
    background-image: url(paragliding.jpg);
}

.bg3{
    background-image: url(surfing.jpg);
}

.bg{
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0, 3);
}
section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}

.secondHeading{
    padding: 0 10rem;
    font-size: 5rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    color: black;
}

#thankyou{
    text-align: center;
    color: red;
    text-shadow: 1px 1px 5px red;
}